<section class="module">
<h1>About</h1>
<h2>A world with more LAVA LAMPs is a better world :&#41;</h2>

<p>Lava lamps are amazing. They are the only thing in the known universe that run at 100% efficency</p>
<ul>
    <li>They heat your room up when it's cold.</li>
    <li>They give you light when it's dark so you can see.</li>
    <li>They are beautiful to look at.</li>
</ul>
<p>This means they use 100% of the electricity they use.</p>
<p>Let's work together so that eveyone can afford to buy a Lava Lamp.</p>


<a href="https://easyscienceforkids.com/lava-lamp-facts-for-kids-video/"><h3>Quick facts</h3> </a> 
<a href="https://en.wikipedia.org/wiki/Lava_lamp"><h3>For more info </h3></a>
<a href="https://lavalamp.com/"><h3>To Buy </h3></a>


</section>