<section>
<h1>About</h1>
<h2>A world with more LAVA LAMPs is a better world :&#41;</h2>

<p>Lava</p>
<a href="https://easyscienceforkids.com/lava-lamp-facts-for-kids-video/"><h3>Quick facts</h3> </a> 
<a href="https://en.wikipedia.org/wiki/Lava_lamp"><h3>For more info </h3></a>
<a href="https://lavalamp.com/"><h3>To Buy </h3></a>


</section>