<section>
<h1>About</h1>
<h2>A world with more LAVA LAMPs is a better world :&#41;</h2>

<p>Lava</p>
<h3>Quick facts <a href="https://easyscienceforkids.com/lava-lamp-facts-for-kids-video/"></a> </h3>
<h3>For more info <a href="https://en.wikipedia.org/wiki/Lava_lamp"></a></h3>
<h3>To Buy <a href="https://lavalamp.com/"></a></h3>


</section>