<div class="form-popup" id="myForm">
  <form method action="/action_page.php" class="form-container">
    <h1>Delete Account</h1>

    <h2>Are you sure you would like to delete this account?</h2>
    <divclass="row">
         <button type="submit" class="btn">Yes</button>
    <button type="submit" class="btn">No</button>
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </form>
</div>