<form method="post">

        {{#if error}} {{>error_message}} {{/if}}

        {{#if fieldset}} {{>fieldset}} {{/if}}

        {{#if signature}} {{>signature}} {{/if}}
        {{#if signature}} <button type="button" id="clear">Clear</button> {{/if}}
        {{>submit-button}}

        {{>footer}}
        
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        
</form>