<form method="post" id="link-post-form">
    <div class="link-post">
    <button type="submit" form="link-post-form" value="delete">{{label}}</button>    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
</form>