  <nav>
    {{>log-out}}
     <button id="about-nav">About</button>
    {{#unless editProfile}} 
      {{>edit-profile-button}}
        
    {{else}}
        <a href="/petition/signed"><button>Back</button></a>
        <button id="delete-nav" style="transform: scale(1)">Delete Profile</button> 
    {{/unless}}
   
    <button id="petition-nav">Pertition</button>  
  </nav>  
