<section>

<h1>Please fill in all fields!</h1>


<img id="logo" src="/images/error.jpg">

<h2>You for got to fill in the {{error}} field</h2>


<a href="/petition"><button>Try again</button></a>


</section>