<section>

    <h1>{{title}}</h1>

    {{>logo}}
    <form method="post">

        {{#if error}}
            {{>error_message}}
        {{/if}}

        {{>fieldset}}

        {{>submit-button}}

        {{>footer}}
    </form>

</section>
