<section>
    {{>log-out}}

    {{>slogan}}

    {{>logo}}

    {{#if error}} {{>error_message}} {{/if}}

    <form method="post">

        {{>signature}} 

        {{>submit-button}}
        
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

    </form>

</section>
 
