<section>
<h1>Great work!</h1>
<h2>A world with more LAVA LAMPs is a better world :&#41;</h2>

<a href="/petition/signers">

<img id="signature" src={{"signature"}} >

{{#if links}} 
    {{#links}}
        {{>link}}
    {{/links}}
{{/if}}


</section>