<section>

{{>logo}}

<h1> Shout out to all the people who arn't anoying: &#41;</h1>

    <section id="signers">
        <ul>
            {{#people}}
                <li>{{name}}</li>
            {{/people}}
        </ul>
    </section>

    <a href="/thank-you"><button>Go to my pertition</button></a>

</section>