<section>
<h1>Great work!</h1>
<h2>A world with more LAVA LAMPs is a better world :&#41;</h2>

<img id="signature" src={{"signature"}} >

{{#if links}} 
    {{#links}}
        {{>link}}
    {{/links}}
{{/if}}

<form method="post" id="link-post-form">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" form="link-post-form" class="link-post" formmethod="post" value="delete">Delete your signature</button>    
</form>


</section>