<section>

<img id="logo" src="/Strawban1.jpg">

<h1> Shout out to all the people who arn't anoying: &#41;</h1>

    <section id="signers">
        <ul>
            {{#people}}
                <li>{{.}}</li>
            {{/people}}
        </ul>
    </section>

</section>