<section>

{{>nav-bar}}

<h1> <em>Great work!</em> The less people like that the better :&#41;</h1>

{{>logo}}

<a href="/petition/signers">

<img id="signature-img" src={{"signature"}} >

{{#if links}} 
    {{#links}}
        {{>link}}
    {{/links}}
{{/if}}


</section>