<section>

    <h1>Join the campain to end people who don't ask you if you would like a <em> straw </em>and give you one
        anyway and fuck the enviroment!</h1>

    {{>logo}}
    <form action="" method="post">

        <section id="details">
            <div class="text-field">
                <p>First name</p>
                <input type="text" name="firstname" placeholder="..eg Dave">
            </div>
            <div class="text-field">
                <p>Last name</p>
                <input type="text" name="lastname" placeholder="..eg Humperdink">
            </div>
            <div class="text-field">
                <p>Email Address</p>
                <input type="text" name="email" placeholder="..eg e@something.com">
            </div>
            <div class="text-field">
                <p>Email Address</p>
                <input type="password" name="password" placeholder="">
            </div>
        </section>

        <input id="submit" type="submit" value="Sign Up" action="/sign-up" method="post">
    </form>

</section>

