<section>

{{>logo}}

<h1> Shout out to all the people who arn't anoying: &#41;</h1>

    <section id="signers">
        <ul>
            {{#signers}}
                <li>{{name}}</li>
            {{/signers}}
        </ul>
    </section>

    <a href="/thank-you"><button>Go to my pertition</button></a>

</section>