<section>

{{>logo}}

<h2> Shout out to the lava lamp crew!&#41;</h2>

    <section id="signers">
        <ul>
            {{#signers}}
                <li>{{name}}</li>
            {{/signers}}
        </ul>
    </section>

    <a href="/thank-you"><button>Go to my pertition</button></a>

</section>