<section>

<h1> Shout out to the Lava Lamp crew!</h1>
    {{#if error}}
        {{>error}}
    {{else}}
    <section id="signers">
        <ul>
            {{#signers}}
                {{>signer-details}}
            {{/signers}}
        </ul>
    </section>
    {{/if}}
    <a href="/petition"><button>Go to my pertition</button></a>

</section>