<section>

<h2> <em>Great work!</em> The less people like that the better :&#41;</h2>

<a href="/petition/signers">

<img id="signature-img" src={{"signature"}} >

{{#if links}} 
    {{#links}}
        {{>link}}
    {{/links}}
{{/if}}


</section>