<section>

<h1> <em>Great work!</em> The less people like that the better :&#41;</h1>

<img id="logo" src="/images/Strawban1.jpg">

<a href="/petition/signers">

<img id="signature-img" src={{"signatureId"}} >

<a href="/petition/signers"><button>{{signersCount}}</button></a>

</section>