<section>

<h1> <em>Great work!</em> The less people like that the better :&#41;</h1>

<img id="logo" src="/images/Strawban1.jpg">

<a href="/petition/signers">

    <canvas id="signature" width="200" height="100" style="border:1px dottedß #000000;"></canvas>

  <input id= "submit" type="submit" value="Submit">

</section>