@font-face { font-family: Caleu; src: url('/public/fonts/Caleu___.ttf'); } 
@font-face { font-family: LavaLamp; src: url('/public/fonts/KR\ Lava\ Lamp.ttf'); } 
@font-face { font-family: Mont; src: url('/public/fonts/MONTR___.TTF'); } 

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    color: white;
    align-self: center;
    text-align: center;
    transition: all 300ms;
}
*:focus {
    outline: none;
}

html {
    overflow-x: hidden;
    width: 100%;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#pages{
    position: relative;
    transition: all 300ms;
    right: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 300vw;
    transform: translateX(0%)
}

#slogan{
    max-width: 600px;
    color: rgba(255,255,255,0.99);
    width: 80%;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.page{
    position: relative;
    width: 100vw;
}


li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.row{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center
}

.balance{
    display: hidden;
}

.module{
    border-radius: 30px;
    background-color: rgb(10,10,10,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 80%;
    padding: 20px;
    overflow: hidden;
    align-self: center;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}



nav > a > button, nav > button {
    color: white;
    border-color: transparent;
    border-style: none;
    background-color: rgb(10,10,10,0.5);
    box-shadow: none;
    font-size: 20px;
    box-shadow: none;
    transform: scale(1.0)
}


#petition-nav{
    transform: scale(0.0)
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    z-index: -99;
    background-color: black;
    background-attachment: fixed
}

button{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    align-self: center;
    font-size: 30px;
    transition: all 300ms;
    color: black;
    box-shadow: 4px 6px 13px -8px rgba(0,0,0,0.5);
}
button:hover{
    transform: scale(1.05);
    box-shadow: 4px 6px 13px -4px rgba(0,0,0,0.75);
}
button:active{
    transform: translateY(-3px);
    box-shadow: 4px 6px 13px -70px rgba(0,0,0,0.75);
}

h1, h2, h3{
    max-width: 450px;
}

h1{
    text-align: center;
    margin: 15px;
    font-size: 35px
}

h2{
    text-align: center;
    margin: 10px;
    font-size: 25px
}

h3{
    text-align: center;
    margin: 5px;
    font-size: 18px
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#details{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
    max-width: 600px;
    max-height: 100vh;
    align-self: center;
}

#signature{
    background-color: rgba(0,0,0,0.5);
    border: 3px solid;
    border-radius: 20px;
    margin: 10px;
    align-self: center;
}

#signature img{
    width:400; height:100;
    align-self: center;
}

#submit{
    border-radius: 20px;
    max-width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    align-self: center;
}


#data{
    display: none
}

img{
    object-fit: cover
}

a{
    transition: all 300ms;
}
a:hover{
    transform: scale(1.05);
}
a:active{
    transform: translateY(-3px);
}

#click-link{
    margin: 10px;
    transition: all 300ms;
    align-self: center
}
#click-link:hover{
    transform: scale(1.05);
}
#click-link:hover{
    transform: translateY(-3px);
}

.link-post > input{
    background:none;
    color:inherit;
    border:none; 
    padding:0;
    font: inherit;
    border-bottom:1px white; 
    text-decoration: underline; 
    cursor: pointer;
}
.link-post{
    transform: scale(1.05);
}
.link-post{
    transform: translateY(-3px);
}

.link-post{
    background:none;
    color:inherit;
    border:none; 
    padding:0;
    font: inherit;
    border-bottom:1px white; 
    text-decoration: underline; 
    cursor: pointer;
}
.link-post > input{
    transform: scale(1.05);
}
.link-post > input{
    transform: translateY(-3px);
}

#logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    align-self: center;
    margin: 20px;
}

.text-field{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center
}

.text-field > input{
    border-radius: 18px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: black
}
.text-field > input:hover{
    transform: scale(1.05);
    box-shadow: 4px 6px 13px -4px rgba(0,0,0,0.75);
}
.text-field > input:focus {
    outline: none;
}

p{
    margin-bottom: 10px
}

#signers{
    margin: 30px
}

li{
    align-items: center;
    list-style-position: inside;
}

.error{
    color: rgb(180, 39, 39);
}

#overlay{
    position: fixed;
    background-color: black;
    transition: opacity 0.5s; 
    opacity: 0.0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    visibility: hidden;
}

#overlay.unsetting{
    visibility: unset;
    opacity: 0.0;
}

#overlay.on{
    visibility: unset;
    opacity: 0.5;
}


#popup{
    padding: 20px;
    width: 80%;
    max-width: 600px;
    opacity: 0;
    background-color: rgba(255,255,255,0.95);
    z-index: 500;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    transition-property: opacity;
    transition-duration: 1;
    transition-timing-function: ease-in-out;
    transition-delay: 1;
    vertical-align: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black 
}

#popup > h3, #popup > p, #close-popup > p{
    color: black 
}

#popup > h3, #popup > p, #close-popup > p{
    color: black 
}

#popup > h3, #popup > p, #close-popup > p{
    color: black 
}

#popup-right{
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: center;
}

#close-popup{
    align-self: flex-end;
    height: 44px;
    width: 44px;
    font-size: 10px;
    margin: 0px;
}


#popup > p{
    padding: 20px;
    text-align: center;
}

#popup.on{
    display: flex;
    visibility: unset;
    opacity: 1;
}

.unsetting{
    visibility: unset;
    opacity: 0.0;
}

@media only screen and (max-width: 400px) {

    h1{
        font-size: 20px;
    }

    #signature{
        background-color: rgba(0,0,0,0.5);
        border: 3px solid;
        border-radius: 20px;
        margin: 10px;
        align-self: center;
        width:200; height:100;
        align-self: center;
    }
    
    #signature img{
        width:200; height:100;
        align-self: center;
    }
}
